#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

li {
  display: inline;
  word-spacing: 40px;
}

.top-nav-bar {
    text-align: center;
    padding: 25px;
    background-color: #696773;
}