/* This is a style sheet for the components of the html pages. */

/*Formats lists to appear in straight line without bullets*/
li {
  display: inline;
  word-spacing: 40px;
}

/*Initially created navigation bar*/

.top-nav-bar {
    text-align: center;
    padding: 25px;
    background-color: #696773;
}

/*Sets the font style of the links on the navigation bar*/

.navbar-nav a {
  font-family: 'Merriweather', serif;
}

/*The styling below for "contentx" are stylings of a div element to span the whole screen at a time. 
Used to showcase a snippet of one part of the website. */

#content1 {
  width: 100%;
  height: 743px;
  background-color: #EDC4B3;
  color: #ECF8F8;
  background-image: url("/images/content2.jpg");
  background-size: cover;
  position: relative;
}

#content2 {
  width: 100%;
  height: 743px;
  background-color: #212D40;
  color: #DEE2FF;
  background-image: url("/images/content1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#content3 {
  width: 100%;
  height: 743px;
  background-color: #BEE3DB;
  color: #212d40;
  background-image: url("/images/content3.jpg");
  background-size: cover;
  position: relative;
}

#content4 {
    width: 100%;
  height: 743px;
  background-color: #BEE3DB;
  color: #212d40;
  background-image: url("/images/content4.jpg");
  background-size: cover;
  position: relative;
}

#content5 {
  width: 100%;
  height: 743px;
  background-color: #BEE3DB;
  background-image: url("/images/content5.jpg");
  background-size: cover;
  position: relative;
}

/* Centers the name on the index.html file centerally */

.name{
    flex: 0 120px 240px;
}

/*Styling for a div component that wraps around the actual items/elements of the snippet portion. */

wrapper {
  height: 321px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
 
/*Styling for a div component to align to the right. */

.content-right {
    height: 15%;
    width: 35%;
    float: right;
    padding: 20px;
    margin-right: 35px;
}
 
/*Styling for a div component to align to the left. */

.content-left {
    height: 15%;
    width: 35%;
    float: left;
    padding: 20px;
    margin-left: 35px;
}

/* Size and round the profile picture */
img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Font format for the text in the main body of the pages. */
.body-text{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    font-size: 150%;
}
 
 /*Font format for the headings in the snippet portions. */
.subpage-head{
    text-align: center;
    font-family: Verdana, sans-serif
}


/* Removes the line break between h1, h3, and p components with other html components */

h1, p, h4, h3{
    margin:0;
}



#greeting-container {
  margin-top: 20px;
}



